import { Middleware, NestMiddleware } from '@nestjs/common';

@Middleware()
export class __CLASS_NAME__ implements NestMiddleware {
  resolve(): (req, res, next) => void {
    return (req, res, next) => {
      next();
    }
  }
}
