.idea/
.envrc
node_modules/
.DS_Store
*.map

# output
lib/**/*.js
commands/**/*.js
actions/**/*.js
bin/**/*.js
lib/**/*.d.ts
commands/**/*.d.ts
actions/**/*.d.ts
bin/**/*.d.ts

# configuration
renovate.json
gulpfile.js
/.vscode

# sample
/sample

yarn.lock