.idea/
.circleci
.github
.gitignore
.prettierrc
.travis.yml
Makefile
node_modules/
.DS_Store
CONTRIBUTE.md

# source
**/*.ts
*.ts
/test

# definitions
!**/*.d.ts
!*.d.ts

# configuration
renovate.json
gulpfile.js
tsconfig.json
tools
/test/jest-config.json
/.vscode
.commitlintrc.json
.eslintrc.js
.eslintignore
.release-it.json

# sample
/sample