import {Test} from '@nestjs/testing';
import {__CLASS_NAME__} from './__IMPORT__';
import {expect} from 'chai';

describe('__CLASS_NAME__', () => {
    const service: __CLASS_NAME__;

    beforeEach(() => {
        Test.createTestingModule({
            components: [
                __CLASS_NAME__
            ]
        });
    });

    beforeEach(() => {
        service = Test.get(__CLASS_NAME__);
    });

    it('should exist', () => {
        expect(service).to.exist;
    });
}
